@model IEnumerable<GuardianAngels.Models.Student>

@{
    ViewBag.Title = "DbStudents";
    Layout = "~/Views/Shared/newLayout1.cshtml";
}

<h2>DbStudents</h2>

<br /><br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.School.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
           Vehicle ID
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.School.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            <img src="data:image/png;base64,@(item.StudentImage)" alt="Church Leader Image" height="50" width="50">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
    </tr>
}

</table>


<br />
<br />
<br />
<br />
<br />
<br />
<br />